<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='dbtheme/plugins/material/css/materialdesignicons.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='dbtheme/plugins/simplebar/simplebar.css') }}">

<!-- PLUGINS CSS STYLE -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='dbtheme/plugins/nprogress/nprogress.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='dbtheme/plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='dbtheme/plugins/jvectormap/jquery-jvectormap-2.0.3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='dbtheme/plugins/daterangepicker/daterangepicker.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='dbtheme/plugins/toaster/toastr.min.css') }}">

<!-- MONO CSS -->
<link id="main-css-href" rel="stylesheet" href="{{ url_for('static', filename='dbtheme/css/style.css') }}" />

<!-- FAVICON -->
<link href="{{ url_for('static', filename='dbtheme/images/favicon.png') }}" rel="shortcut icon" />

<!-- NEWS -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.0.0-beta2-dist/css/bootstrap.css') }}">

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
